body {
	font-family: Arial;
	color: #fff;
	background-image: url("../img/img_fon/IMG_0124.JPG");
}
img{
	width: 300px;
}
.container{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.container a {
	color: white;

}
img:hover {
  box-shadow: 3px 3px 4px 3px black;
  border-radius: 7px;
}